#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #fff;;

}

.Head{
  margin-bottom: 1em;
}
.Head>p{
  margin: 0;
  padding: 0;
}
.location{
  font-size: 2em;
  font-weight: bold;
  height: 30px;

}

.temperature{
  font-size: 4em;
  height: 70px;
  font-weight:200;
}

.condition{
  font-size: 1.5em;
  font-weight: bold;

}

.Applets {
  display: grid;
  grid-template-areas:
  "H H H H M M"
  "T T U S M M"
  "T T W L P F"
  "T T Y V R A";
  grid-template-columns: repeat(6, 150px);
  grid-template-rows: repeat(4, 150px);
  height: 100%;
  gap: 1rem;
  
}

.Applets > div{
  padding: 0;
  background-color: rgba(35, 125, 190, 0.5);
  border-radius: 15px;
  min-width: 0;


}

.H{
  grid-area: H;

}
.H-desc{
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-align: left;
  font-size: small;
  padding: 0.5rem;
}

.hourly-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 

}
.hourly-container > div{
  padding: 0 0.5em 0 0.5em;
}
.tempStatus{
  padding-block-start:10px;
}
.M{
  grid-area: M;
  text-align: left;
}
.M-desc{
  text-align: left;
  font-size: small;
  padding:0.5em 0 0 0.5rem;

}
.map{
  background-color: black;
  margin: 10px;
  border-radius: 15px;
  height: 85%;
}
.T{
  grid-area: T;

}
.U{
  grid-area: U;
}
.S{
  grid-area: S;
}
.W{
  grid-area: W;
}
.L{
  grid-area: L;
}
.P{
  grid-area: P;
}
.F{
  grid-area: F;
}

.F> :nth-child(1){
  margin: 0.5em 0 0 0.5rem;
  text-align: left;
  font-size: small;
}
.F> :nth-child(2){
 
  font-size: 2em;
  margin: 0.1em 0 0.8em 0.5rem;
  text-align: left;
}
.F> :nth-child(3){
  font-size: 0.7em;
  margin: 0 0 0 0.5rem;
  text-align: left;
}

.Y{
  grid-area: Y;
  text-align: left;
  display:flex;
  flex-direction: column;
  

}

.Y> :nth-child(1){
  margin: 0.5em 0 0 0.5rem;
  text-align: left;
  font-size: small;
}
.Y> :nth-child(2){
  
  font-size: 2em;
  margin: 0.1em 0 0.8em 0.5rem;
  text-align: left;
}
.Y> :nth-child(3){
  font-size: 0.7em;
  margin: 0 0 0 0.5rem;
  text-align: left;
}
.V{
  grid-area: V;
}
.V> :nth-child(1){
  margin: 0.5em 0 0 0.5rem;
  text-align: left;
  font-size: small;
}
.V> :nth-child(2){
 
  font-size: 2em;
  margin: 0.1em 0 0.8em 0.5rem;
  text-align: left;
}
.V> :nth-child(3){
  font-size: 0.7em;
  margin: 0 0 0 0.5rem;
  text-align: left;
}
.R{
  grid-area: R;
}
.A{
  grid-area: A;
}